// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "blueprint/liquid";

@include blueprint;

.two-col {
  @include container;

  #header, #footer {
    @include column(24); }
  #header {
    text-align:center;
    background-color: #cccccc;
    border-bottom:1px solid;
    padding:10px 0 0;
  }
  #sidebar {
   text-align:center;
        ul li{
          display:inline;
          padding:0 10px;
        }
    @include column(24); }
  #content {
    padding:10px;
    @include column(5, true);
    @include prepend(4);
    position:relative;
    margin: 0 auto; }
}
