!!!
%head
  %meta{:charset => "utf-8"}
  %meta{:author => "Paul Cowan"}
  %title Lead Generator
  =stylesheet_link_tag "application"
  =javascript_include_tag "application"
  =csrf_meta_tags
%body
  .two-col

    #header
      %h1 My test Header
    #content
      %p
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
    #footer
      This is the footer.
